$phone: 360px;
$tablet: 700px;
$desktop: 1024px;

$surface: #ffffff;
$primary: #323232;
$secondary: #000000;
$active: #32a852;

$palette1: #890608;
$palette2: #d4700c;
$palette3: #f3c316;
$palette4: #315e31;
$palette5: #00457a;
$palette6: #470c6e;
$palette7: #72466a;
$palette8: #000000;

$fast: 0.3s;
$slow: 0.5s;
$standard-easing: cubic-bezier(0.4, 0, 0.2, 1);
